<h3>List of Merchants</h3>
<a href="/merchants/new">Add New Merchant</a>
<hr/>
<% for merchant in @merchants %>
  <p>Merchant Name: <%= merchant.name%></p>
  <p>Merchant ID: <%= merchant.id %></p>
<hr/>
<% end %>
