<div class="Blue">
  <h1 class="title">Why am I Skint?</h1>
  <h3> Your current budget is set to £<%= Budget.budget %></h3>
  <h3> You have spent £<%= Transaction.total_spend %></h3>
  <h3><%= Budget.check_spending %></h3>
</div>
