<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <img src="/large_spendbird.png" alt="logo" style="width:200px;height:100px;">
    <title>You're Skint! Let's find out why.</title>
    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    <nav>
      <div class="topnav">
        <ul>
          <li><a class="active" href="/">Home</a></li>
          <li><a href="/budget/edit">Set Budget</a></li>
          <li><a href="/transactions">Transactions</a></li>
          <li><a href="/merchants">Merchants</a></li>
          <li><a href="/tags">Tags</a></li>
        </ul>
      </div>
    </nav>
    <br>
    <%= yield %>
  </body>
</html>
