<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>You're Skint!</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li>
          <a href="/budget/edit">Set Your Budget</a></li>
        <li>
          <a href="/transactions">All Transactions</a>
        </li>
        <li>
          <a href="/transactions/new">Add New Transaction</a>
        </li>
        <li>
          <a href="/merchants">All Merchants</a>
        </li>
        <li>
          <a href="/tags">All Tags</a>
        </li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
