<form action="/budget" method="post">

  <label for="budget">Set Your Budget (£)</label>
  <input required type="number" id="budget" value="<%= "%.2f"% @budget.budget %>" name="budget">

  <input type="submit" value="Save Changes">
</form>
