<form action="/budget/edit" method="post">

  <label for="budget">Set Your Budget (£)</label>
  <input required type="number" step="0.01" id="budget" value="<%= "%.2f"% @budget.budget %>" name="budget">

  <input type="submit" value="Save Budget">
</form>
