<form action="/budget/<%= @budget.id %>" method="post">

  <label for="budget">Set Your Budget (£)</label>
  <input required type="number" id="budget" value="<%= @budget.budget%>" name="budget">

  <input type="submit" value="Save Changes">
</form>
