<p>Merchant Name:
  <%= @tag.type %></p>
<p>Merchant ID:
  <%= @tag.id%></p>

<form action="/tags/<%= @tag.id %>/delete" method="post">
  <input type="submit" value="Delete Tag">
  <p>Warning: Tags still assigned to transactions may not be deleted.</p>
</form>

<p>
  <a href="/tags/<%= @tag.id %>/edit">Edit Tag</a>
</p>
