<h3>Full transaction record</h3>
<hr/>
<% for transaction in @transactions %>
  <p>Merchant: <%= transaction.merchant_id%></p>
  <p>Tags: <%= transaction.tag_id %></p>
  <p>Amount: <%= transaction.amount %></p>
<hr/>
<% end %>
