<form action="/transactions" method="post">

  <label for="merchant">Merchant:</label>
  <select name="merchant_id" id="merchant">
    <% for merchant in @merchants %>
      <option value="<%= merchant.id %>">
        <%= merchant.name() %>
      </option>
    <% end %>
  </select>

  <label for="tag">Purchase category:</label>
  <select name="tag_id" id="tag">
    <% for tag in @tags %>
      <option value="<%= tag.id %>">
        <%= tag.type() %>
      </option>
    <% end %>
  </select>

  <label for="amount">Amount (£):</label>
  <input type="number" step="0.01" id="amount" name="amount" placeholder="00.00">

  <label for="top">Timestamp(24hr):</label>
  <input type="datetime-local"  id="top" name="top">

  <input type="submit" value="Store Transaction">

</form>
