<form action="/transactions" method="post">
  <label for="merchant">Merchant:</label>
  <input type="text" id="merchant" name="merchant">

  <label for="tags">Purchase category:</label>
  <input type="text" id="tag" name="tag">


  <label for="amount">Amount (£):</label>
  <input type="number" min="" id="amount" name="amount">


  <input type="submit" value="Store Transaction">

</form>
